:root {
  --login-form-bkgrd: white;
  --black-or-white-text-color: black;
  --black-or-white-bkgrd: white;
  --color-blue: #6b58e5;
  --color-light-blue: rgb(210, 237, 246);
  --login-border: #d9d7d7;
  --light-blue: rgb(210, 237, 246);
  --black-opacity: rgba(0, 0, 0, 0.09);
}

[data-theme="dark"] {
  --login-form-bkgrd: #212529;
  --black-or-white-text-color: white;
  --black-or-white-bkgrd: black;
  --login-border: #464646;
}

#loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#loginMain .theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

#loginForm {
  position: relative;
  background-color: var(--login-form-bkgrd);
  border-radius: 10px;
  text-align: center;
  width: clamp(15rem, 100vw, 25rem);
  margin: 10px;
}

#loginForm > * {
  margin: 20px 0;
}

#loginForm h2 {
  color: var(--color-blue);
  margin-top: 0;
}

#socialLogin {
  display: flex;
  flex-direction: column;
}

#socialLogin button:hover {
  transform: scale(1.01);
  background: white;
}

#socialLogin p {
  font-size: 12px;
  color: var(--black-or-white-text-color);
}

#loginOr {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-blue);
}

#userAndPwdForm {
  display: flex;
  flex-direction: column;
}

#userAndPwdForm svg {
  align-self: center;
  justify-self: center;
}

.login-form-group {
  display: flex;
  border: 1px solid var(--login-border);
  background-color: var(--black-or-white-bkgrd);
  padding: 0 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.userAndPwdInput {
  color: var(--black-or-white-text-color);
  background-color: var(--black-or-white-bkgrd);
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 78%;
}

.loginLabels {
  font-size: 1.9rem;
  color: var(--color-blue);
  padding-right: 10px;
  border-right: 1px solid var(--login-border);
}

#loginSubmit {
  padding: 10px;
  border-radius: 30px;
}

#togglePwd {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: var(--color-blue);
  font-size: 1.3rem;
}
