@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;1,600&display=swap");

:root {
  --url-bkgrd: url("https://i.imgur.com/zF8fZ5k.jpg");
  --black-or-white-bkgrd: white;
  --black-or-white-text-color: black;
  --color-blue: #6b58e5;
  --light-gray: #d9d7d7;
  --light-blue: #c9bffc;
  --general-font-color: black;
  --header-shadow: rgba(0, 0, 0, 0.5);
  --header-background: rgba(255, 255, 255, 0);
  --fav-red: rgb(184, 51, 44);
  --bonus-info-container-bkgrd: "";
  --black-opacity: rgba(0, 0, 0, 0.09);
  --sectionHeaderBkgrd: rgba(0, 0, 0, 0.09);
  --logos-bkgrd: rgba(0, 0, 0, 0.09);
  --heart-color-unfavorite: rgba(0, 0, 0, 0.09);
  --edit-color-green: #198754;
  --bonus-ribbon-effect: "block";
  --modal-color: white;
  --required-field-color: rgb(69, 15, 1);
  --form-field-borders: 1px solid #ccc;
  --box-shadow: 0 0 10px gray;
  --mini-table-bkgrd: rgba(81, 79, 79, 0.09);
  --progress-bar-bkgrd: rgba(0, 0, 0, 0.09);
  --hover-color: #c9bffc;
  --empty-list-bkgrd: rgba(0, 0, 0, 0.09);
  --card-details-notification-bkgrd: #f4f2ff;
}

[data-theme="dark"] {
  --url-bkgrd: url("https://imgur.com/Nldmpid.jpg");
  /* --url-bkgrd: url("https://i.imgur.com/0EMIdxcF.jpeg"); */
  --black-or-white-bkgrd: black;
  --black-or-white-text-color: white;
  --header-background: rgba(0, 0, 0, 0.5);
  --general-font-color: white;
  --header-shadow: rgba(255, 255, 255, 0.5);
  --sectionHeaderBkgrd: rgba(255, 255, 255, 0.12);
  --logos-bkgrd: rgba(255, 255, 255, 0.8);
  --heart-color-unfavorite: rgba(255, 255, 255, 0.3);
  --modal-color: #212529;
  --required-field-color: #ccc;
  --form-field-borders: 1px solid #4b4a4a;
  --box-shadow: 0 0 3px rgb(168, 166, 166);
  --mini-table-bkgrd: rgba(0, 0, 0);
  --progress-bar-bkgrd: rgba(255, 255, 255, 0.2);
  --hover-color: #212529;
  --empty-list-bkgrd: rgba(255, 255, 255, 0.13);
  --card-details-notification-bkgrd: #1f1e1e;
}

body {
  background-image: var(--url-bkgrd);
  /* background-color: #212529; */
  font-family: "Exo 2", sans-serif;
}

.homePageText {
  color: var(--black-or-white-text-color);
  margin-bottom: 15px;
}
.fiveTwentyFourContainer,
.loyaltyContainer,
.cardDetailsContainer,
.cardHoldersContainer {
  max-width: 1400px;
  margin: 0 auto;
}

.cardDetailsBody {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(0.6rem, 5vw, 1rem);
}

.cardDetailsBody > .card {
  margin-bottom: 1rem;
}

.cardDetailsBodyTablet,
.cardDetailsBodyMobile {
  margin-right: 10px;
}

.cardDetailsSectionRightTablet {
  display: flex;
}

.cardDetailsSectionRightTablet > .card:nth-child(1) {
  margin-right: 1rem;
}

#cardDetailsSectionRight {
  flex: 1;
}

#cardDetailsSectionRight .card {
  margin-bottom: 1rem;
  flex: 1;
}

.reward-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.tag-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tag-input-field {
  flex: 1;
  padding: 8px 40px 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.tag-input-add-button {
  position: absolute;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-blue);
  margin-right: 5px;
}

.tag-remove-button {
  font-size: 18px;
  cursor: pointer;
  color: var(--fav-red);
}

.tag-span {
  border-radius: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardDetailsHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-opacity);
  color: var(--color-blue);
}

.cardDetailsStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.navContainer {
  background-color: var(--header-background);
  padding: 0;
  margin-bottom: 10px;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px -4px var(--header-shadow);
}

.smallNavContainer {
  background-color: var(--color-blue);
  padding: 0;
  margin-bottom: 10px;
  min-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerSectionRight {
  display: flex;
  align-items: center;
}

.headerSectionLeft {
  background-color: black;
  border-radius: 50%;
  margin: 5px 10px;
  border: 10px solid var(--color-blue);
}

.headerSectionLeft img {
  height: 3rem;
  /* padding:px; */
}

#smallNavTopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navFull {
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navSmallContent {
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue);
  transition: max-height 0.3s ease-in-out;
  overflow: scroll;
  max-height: 0;
}

.navSmallContent.open {
  max-height: 15rem;
}

nav a {
  text-decoration: none;
  color: var(--general-font-color);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 10px;
}

.smallNavContainer nav a {
  color: white;
}

.navSmallContent a {
  margin-bottom: 5px;
}

#burgerContainer {
  display: flex;
  background: var(--color-blue);
  align-items: center;
  justify-content: space-between;
}

#burger {
  min-height: 3rem;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.navFull a:hover {
  color: var(--color-blue);
}

.navSmallContent a:hover {
  color: var(--color-blue);
  background-color: var(--light-gray);
  border-radius: 5px;
}

#userSectionContainer {
  position: relative;
  cursor: pointer;
}

#userSection {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.user-img-container {
  position: relative;
  display: inline-block;
}

.notification-dot {
  position: absolute;
  top: 1px;
  right: 7px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

.notificationsDrawer {
  color: var(--black-or-white-text-color);
  background-color: var(--modal-color);
}

.notificationDiv {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  position: relative;
}

.notificationHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--black-opacity);
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

.notificationBody {
  padding: 20px;
  font-size: 13px;
}

.notificationDelete {
  cursor: pointer;
  font-size: 2rem;
  color: var(--fav-red);
  position: absolute;
  right: -14px;
  top: -14px;
  background-color: white;
  border-radius: 50%;
}

.page-notification-icon-container {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-notification-delete {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--fav-red);
}

#page-notification-date {
  background-color: var(--black-opacity);
  display: inline-block;
  padding: 1px 7px;
  border-radius: 10px;
}

#page-notification-message {
  margin-bottom: 0;
  margin-left: 10px;
  flex: 1;
}

.notificationIcon {
  font-size: 2rem;
  color: var(--fav-red);
  margin-right: 10px;
}

.notificationIcon.spendBy {
  color: orange;
}

.notificationIcon.loyalty {
  color: var(--color-blue);
}

.notificationFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationDate {
  font-size: 12px;
  color: black;
  background-color: var(--light-blue);
  display: inline-block;
  padding: 3px 10px;
  border-radius: 10px;
}

.notificationCardButton {
  font-size: 12px;
  padding: 3px 10px;
  background-color: var(--color-blue);
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

.card-details-notifications-container {
  padding: 10px 20px;
  background-color: var(--card-details-notification-bkgrd);
  color: gray;
  margin-bottom: 1rem;
  font-size: 13px;
  border-radius: 10px;
}

.bell-icon {
  display: inline-block;
  transition: transform 0.3s;
  font-size: 3rem;
  color: var(--color-blue);
}

.ringing {
  animation: ring 0.5s ease-in-out 2; /* Adjust the duration and timing */
}

#userDisplayName {
  height: 100%;
  margin: 0;
}

.userProfileMenu {
  position: absolute;
  top: 4.4rem;
  right: 0px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: black 0px 4px 8px -6px;
  border-radius: 4px;
}

.userProfileMenu li:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.userProfileMenu li:first-child:hover {
  background-color: none;
}

.userMenuOptions {
  padding: 10px;
  box-shadow: -4px 0 8px -6px rgb(59, 54, 54);
  color: var(--black-or-white-text-color);
  cursor: pointer;
}

.userMenuOptions svg {
  margin-right: 10px;
  color: var(--color-blue);
  font-size: 1.2rem;
}
.disabledMenuOption {
  color: rgb(166, 165, 165);
}

.userMenuNotificationsBadge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7em;
  font-weight: bold;
}

.themeTogglePlacement {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.sectionHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sectionHeaderBkgrd);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-blue);
  margin: 1rem 0;
}
.cardsDropDownContainer {
  margin-bottom: 10px;
}

.cardsDropDownContainer .labels {
  background-color: var(--light-blue);
  color: var(--color-blue);
}

#cardFilterContainer {
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  margin-bottom: 12px;
}

#cardFilterUserSelect {
  width: clamp(9rem, 11rem, 20rem);
  padding: 10px;
  background-color: var(--light-blue);
  border-radius: 10px 0 0 10px;
  color: var(--color-blue);
}

#cardFilterInput {
  border: none;
  flex: 1;
  border-radius: 0 10px 10px 0;
  padding-left: 10px;
}

.cardByDropDownFavButton {
  background-color: white;
  color: var(--fav-red);
  border: 1px solid var(--fav-red);
  width: 100%;
  font-weight: bold;
}

.cardByDropDownFavButton:hover {
  color: white;
  background-color: var(--fav-red);
  border: 1px solid var(--fav-red);
  cursor: pointer;
}

.cardByDropDownFavButton.active {
  color: white;
  background-color: var(--fav-red);
  border: 1px solid var(--fav-red);
}

.cardsByDropDownHeart {
  color: var(--fav-red);
  font-size: 2.5rem;
  position: absolute;
  right: 1px;
  transform: rotate(16deg);
  top: 186px;
}

.formFieldContainer {
  position: relative;
  margin: 15px 0;
}

.singleColumnForm .formFieldContainer {
  margin: 24px 0;
}

.radioFieldContainer {
  position: relative;
  margin: 15px 0;
}

.formFieldContainer input,
.formFieldContainer select {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.inputContainer {
  border: var(--form-field-borders);
  border-radius: 4px;
}

.inputContainer input,
.inputContainer select {
  background-color: var(--modal-color);
  color: var(--black-or-white-text-color);
}

.inputContainer input:focus,
.inputContainer select:focus {
  background-color: var(--modal-color);
  color: var(--black-or-white-text-color);
}

.form-check-input:checked {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.radioField input {
  background-color: white;
}

.custom-modal .modal-backdrop {
  background-color: white;
  opacity: 0.9;
}

.inputLabels {
  position: absolute;
  top: -13px;
  left: 9px;
  background-color: var(--modal-color);
  padding: 0 5px;
  color: var(--color-blue);
}

.requiredField {
  position: absolute;
  top: -9px;
  right: 5px;
  margin: 0px 10px 0px 0px;
  color: var(--required-field-color);
  font-size: 0.8rem;
  background-color: var(--modal-color);
  padding: 0 5px;
}

.bonusEarnedCheck {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid var(--light-gray);
  /* background-color: #e8e8e8; */
  display: flex;
  justify-content: flex-end;
  color: var(--color-blue);
  align-items: center;
  margin-bottom: 25px;
}

.bonusEarnedCheck input {
  margin-right: 10px;
  border: 2px solid var(--color-blue);
}

.radioField {
  background-color: var(--modal-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--black-or-white-text-color);
}

.form-control:disabled {
  background-color: var(--modal-color);
  color: rgb(155, 155, 155);
}

.currencySymbol {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 3px 0;
  border-right: 1px solid var(--black-opacity);
  color: var(--color-blue);
}

div.alert-danger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
  transform: scale(1.5);
}

.nav-tabs .nav-item {
  margin: 0 2px;
}

.nav-tabs .nav-item .nav-link {
  color: var(--color-blue);
  background-color: var(--light-gray);
}

.nav-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: var(--color-blue);
  font-weight: bold;
  border-color: var(--color-blue);
}

.cardsContainer .nav-tabs .nav-item:last-child .nav-link {
  background-color: #dfc2c4;
  color: var(--fav-red);
}

.nav-tabs .nav-item .nav-link:first-child {
  margin-left: 0;
}

.cardsContainer .nav-tabs .nav-item:last-child .nav-link.active {
  background-color: var(--fav-red);
  color: white;
  font-weight: bold;
  border-color: var(--fav-red);
}

.tableHeader > svg {
  cursor: pointer;
}

.editDeleteCells {
  max-width: 5rem;
}

.editDeleteCard > button {
  margin-right: 5px;
}

.accordion {
  border: none;
}

.accordion-body {
  color: var(--black-or-white-text-color);
  border-radius: 0 0 5px 5px;
}

.customAccordions {
  text-align: left;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 8px 0;
}

.accordion-item {
  border: none;
}

.rounded-circle {
  transition: all 0.2s ease-in-out;
}

.rounded-circle:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px black;
}

.heart {
  font-size: 2.5rem;
  margin-right: 5px;
  cursor: pointer;
  color: var(--heart-color-unfavorite);
}

#cardBody,
#loyaltyCardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.cardBodyText {
  color: var(--black-or-white-text-color);
}

.cardTextValue {
  color: rgb(159, 156, 156);
}

.loyaltyCardTitle {
  padding: 8px 8px 8px 10px;
  font-size: 1.1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blue);
}

.copyIcon {
  margin: 0 5px;
  background: var(--black-opacity);
  padding: 5px;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
}

#cardBody:hover {
  background-color: var(--black-opacity);
  cursor: pointer;
}

.cardBodyLabels {
  font-weight: bold;
}

#cardCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cardsContainer #cardCardContainer,
.referralsPageContainer #cardCardContainer {
  padding: 0 10px 0 0;
}

.cardsCardFooter {
  display: flex;
  justify-content: space-between;
}

.editDeleteOnCards {
  text-align: right;
}

.issuerLogos {
  height: 2.5rem;
  width: 4rem;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  padding: 2px;
  border-radius: 10px;
  background-color: var(--logos-bkgrd);
}

.loyaltyLogos {
  height: 2.5rem;
  width: 4.5rem;
  object-fit: contain;
  border: 1px solid var(--light-gray);
  padding: 3px;
  border-radius: 10px;
  background-color: var(--logos-bkgrd);
}

form {
  max-width: 55rem;
  margin: 0 auto;
}

.addButton {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  float: right;
}

.modalHeader {
  color: var(--color-blue);
  background-color: #c9bffc;
}

.modal-body {
  background-color: var(--modal-color);
}

.list-group-item {
  padding-left: 0;
  border: none;
}

.notesFooter {
  display: flex;
  justify-content: center;
  /* background-color: var(--light-blue); */
}

.notesFooter button {
  margin-left: 10px;
}

.cardDetailsFieldHeaders {
  font-weight: bold;
  font-size: clamp(0.9rem, 5vw, 1.2rem);
  color: var(--color-blue);
}

.cardHeaders,
.accordion-button,
.accordion-button[aria-expanded="true"] {
  font-weight: bold;
  color: var(--color-blue);
  background-color: var(--light-blue);
  text-align: left;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
}

.bureauImgs {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 4px 0 0;
  object-fit: cover;
}

.bureauImgs[alt="experian"] {
  border: 1px solid #d92b80;
  border-radius: 50%;
  padding: 2px;
  padding: 2px;
  background-color: var(--light-gray);
}

#five24AccordionHeader .accordion-button {
  font-size: 0.9rem;
}

.five24Card .accordion-item:last-of-type .accordion-button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.five24Card {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--modal-color);
  color: var(--black-or-white-text-color);
  margin-top: 15px;
}

.progress,
.progress-stacked {
  background-color: var(--progress-bar-bkgrd);
}

.cardTabsFilterInput {
  padding-left: 10px;
  border: 2px solid var(--light-gray);
  float: right;
  height: 2.67rem;
  border-radius: 10px 10px 10px 0;
}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /* Now your own custom styles */
  height: 18px;
  width: 18px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;
  /* icon size */
  background-size: 18px;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--black-opacity);
}

.cardholderCard {
  box-shadow: 0 0 4px gray;
  width: 100%;
  background-color: var(--modal-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  color: var(--black-or-white-text-color);
}

#cardholderCardImgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardholderCardDataSection {
  font-size: 10px;
}

.cardholderCardDataSection article {
  margin-bottom: 8px;
}

#editDeleteOnCardholderCards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
}

#editDeleteOnCardholderCards button {
  width: 6rem;
}

#editDeleteOnCardholderCards button:first-child {
  margin-bottom: 5px;
}

.cardholderCardMiniTableContainer {
  padding: 0 5px;
  background-color: var(--black-opacity);
  border-radius: 5px;
}

.cardholderCardMiniTable {
  width: 100%;
  color: gray;
}

.cardholderCardMiniTable th,
.cardholderCardMiniTable td {
  width: 33.33%;
  text-align: left;
}

.cardholderDataSection {
  display: flex;
  flex-direction: column;
  background-color: var(--mini-table-bkgrd);
  border-radius: 10px;
  padding: 7px;
  min-width: clamp(10rem, 15vw, 15rem);
}

.cardholderDataSection * {
  margin: 0;
}

.dataTableTd {
  width: min(14rem, 12rem);
}

.dataTableDataSection {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: gray;
  text-align: center;
}

.image-upload {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  margin-right: -100px;
  margin-top: 122px;
}

.editPhotoIcon {
  width: 2.1rem;
  height: 2.1rem;
  background: white;
  border-radius: 50%;
  border: 2px solid gray;
  padding: 2px;
  color: #0080ff;
  cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  color: transparent;
}

input[type="range"] {
  padding: 10px;
  color: red;
}

.photoEditZoomer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoEditContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 0 0 10px 10px;
}

p {
  margin: 0;
}

.cardCardTitle {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  color: var(--color-blue);
}

.cardCardSubtitle {
  margin: 0;
}

.bonusInfoContainer {
  display: flex;
  border-radius: 15px 15px 0 15px;
  min-width: 8.5rem;
  background-color: var(--bonus-info-container-bkgrd);
}

.bonusInforContainerCard {
  position: absolute;
  right: -14px;
}

.bonusInfoTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3px;
}

.cardCard::before {
  position: absolute;
  content: "";
  background-color: gray;
  height: 28px;
  width: 28px;
  top: 37px;
  right: -7.5px;
  transform: rotate(51deg);
  z-index: -1;
}

.cardCard {
  width: 20rem;
  box-shadow: var(--box-shadow);
}

@media (max-width: 650px) {
  .cardCard {
    width: 100vw;
  }
}

.cardDetailsBody #cardDetailsCard::before {
  position: absolute;
  content: "";
  background-color: gray;
  height: 28px;
  width: 28px;
  top: 216px;
  right: -7.5px;
  transform: rotate(51deg);
  z-index: -1;
  display: var(--bonus-ribbon-effect);
}

#referralLink {
  font-size: 2.3rem;
  margin-right: 10px;
  background: var(--light-gray);
  border-radius: 60%;
  padding: 5px;
  color: var(--color-blue);
}

.linkDisabled {
  pointer-events: none;
  cursor: default;
}

.referralCardHeader {
  display: flex;
  justify-content: space-between;
}

.referralCardHeader a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
}

.flexAndVerticalCenter {
  display: flex;
  align-items: center;
}

.card-footer {
  padding: 7px 5px 7px 12px;
  align-items: center;
  /* background: var(--black-opacity); */
}

#cardReferralsCardSectionRight p span {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

#cardReferralsCardSectionRight p {
  color: gray;
}

.cardDetailsReferralCardContainer {
  background-color: var(--black-opacity);
  margin: 8px 0;
  padding: 10px;
  display: flex;
  border-radius: 10px;
}

.cardDetailsReferralCardBonusSection {
  border-radius: 10px;
  padding: 5px;
  min-width: 7rem;
}

.cardDetailsReferralCardBonusSectionTop {
  display: flex;
  align-items: center;
  margin-bottom: -6px;
  align-self: flex-start;
}

.cardDetailsReferralCardBonusText {
  color: white;
  font-size: 12px;
  margin-left: 5px;
}

.jumbotron a {
  background-color: var(--color-blue);
  border: none;
}

.emptyList {
  background-color: var(--empty-list-bkgrd);
  color: var(--black-or-white-text-color);
}
